@font-face {
	font-family: 'body-txt';
	src: url('../fonts/OpenSans-Regular.eot');
	src: url('../fonts/OpenSans-Regular.woff2') format('woff2'), url('../fonts/OpenSans-Regulard41d.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans.html') format('woff'), url('../fonts/OpenSans-2.html') format('truetype'), url('../fonts/OpenSans-3.html#OpenSans') format('svg');
}
@font-face {
	font-family: 'roboto-regular';
	src: url('../fonts/Roboto-Regular.eot');
	src: url('../fonts/Roboto-Regular.woff2') format('woff2'), url('../fonts/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular.ttf') format('truetype'), url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg'), url('../fonts/Roboto-Regulard41d.eot?#iefix') format('embedded-opentype');
}
@font-face {
	font-family: 'roboto-light';
	src: url('../fonts/Roboto-Light.html');
	src: url('../fonts/Roboto-Light.woff') format('woff'), url('../fonts/Roboto-Light.ttf') format('truetype'), url('../fonts/Roboto-Light.svg#Roboto-Light') format('svg');
}
@font-face {
	font-family: 'openSans-light';
	src: url('../fonts/OpenSans-Light.html');
	src: url('../fonts/OpenSans-Light-2.html') format('woff2'), url('../fonts/OpenSans-Light-3.html') format('woff'), url('../fonts/OpenSans-Light-4.html') format('truetype'), url('../fonts/OpenSans-Light-5.html#OpenSans-Light') format('svg'), url('../fonts/OpenSans-Lightd41d.html?#iefix') format('embedded-opentype');
}
@font-face {
 font-family: "Amaranth_Reg";
 src: url('../fonts/Amaranth-Regular.ttf');
}
@font-face {
    font-family: "bodytxt";
    src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: "opn_cond";
    src: url(../fonts/OpenSans-CondBold.ttf);
}