@media screen and (min-width:0) and (max-width:320px){
.franchisee-achivers{padding-bottom:10px;}
.franchisee-h6 li:before{font-size:17px;line-height:25px;}
.franchisee{font-size:24px}	}
@media screen and (min-width:320px) and (max-width:480px){
.franchisee-achivers{padding-bottom:10px;}
.franchisee-h6 li{font-size:16px;padding:0 26px 10px 16px;}
.franchisee-h6 li:before{font-size:17px;line-height:25px;}
.franchisee{font-size:24px}	}
@media screen and (min-width:480px) and (max-width:768px){
.franchisee-achivers{padding-bottom:10px;}
.franchisee-h6 li{font-size:16px;padding:0 26px 10px 16px;}
.franchisee-h6 li:before{font-size:19px;line-height:23px;}
.franchisee{font-size:24px}	}
@media screen and (min-width:769px) and (max-width:1024px){
.franchisee{font-size:24px}	}
@media screen and (min-width : 320px){
.navbar-brand {
	float:left;
}
.navbar-brand img {
    height: 75px;
    width: 144px;
}
.navbar-fixed-top{
	background-color: #fff;}
a.navbar-brand{
	background: #fff;
	padding: 2px 3px;
}
.navbar-nav>li>a{
	padding: 16px 24px;
}
ul.navbar-nav li.search{
	margin-left: 0px;
}
ul.navbar-nav li.search1{
	margin-left: 0px;
	border-top: 1px #e65700 solid;}

.body-inner{
	background-color: #fff;
}
.banner{
	margin-top: 80px;}
#main-slide .item img{
	width: 100%;
	height: 160px;
}
#main-slide .slider-content{
	margin-left: 0px;
	margin-top: 12px;
}
#main-slide .slider-content h2{
	font-size: 26px;
	text-transform:none;
}
#main-slide .slider-content h3{
	display: none;
}
#main-slide .carousel-control i{
	font-size: 26px;
	padding: 4px 10px;
}
#newsletter{
	display:none;}
#core{
	padding: 20px 0 0px;
}
#welcome{
	padding: 20px 0;}
#welcome img{
	margin-left: 0px;}
.wel_head {
    font-size: 26px;
	padding-bottom: 11px;
	margin-bottom: 5px;}
.wel_txt{
	line-height: 24px;
	font-size: 14px;}
#services{
	padding: 30px 0 20px;}
.section{
	margin:0px 0px 2px 0px;
	width: 100%;
	text-align:center;
	padding-right: 0px;
	padding-left: 0px;
	}
.sec_img{
	display:none;}
.other_dash_line{
	display: none;
	}
#other_logo{
	padding: 0px 0 0 0;
	background-color:#f9f9f9;}
.footer-bottom-menu{
	text-align:center;
}
.footer-bottom-menu li a{
	font-size: 12px;
}
.copyright-info{
	margin-top: 16px;
	font-size: 11px;
	float: none;
	text-align:center;
}
/*-------------other_page---------------*/	
.inner-ban {
	top: 80px;
}
.banner_title {
    padding: 5px 8px;
	font-size: 17px;
    border-left: 2px solid #ea4800;
    border-right: 2px solid #ea4800;
}
.abt_container {
	width: 100%;
	padding: 0;
	margin-top: 98px;
}
.about_info{
    width: 95%;
	font-size: 13px;
	line-height: 20px;
	padding: 0px 0px 10px 15px;
}
.about_info h2{
	font-size: 22px;
	margin-top: 8px !important;
	margin-bottom: -9px;
}
.about {
    background-image: none;
}
.pro_container {
	width: 100%;
	padding: 0;
	margin-top: 98px;
}
.product section ul li{
	width: 95%;
	margin-right: 26px;
	margin-bottom: 10px;
	margin-left: 0px;
	margin-top: 0px;
}
.product section ul li p{
	width: 100%;
	padding-top: 6px;
	font-size: 14px;
	padding-left: 7px;
	padding-right: 7px;
	height: 52px;
	}
.product section ul li span{
	font-size: 12px;
	margin-left: 4px;}
.inr_container {
	width: 100%;
	padding: 14px;
	margin-top: 98px;
}
.cont_img_res{
	display: none;
}
.markercontactmap{
	display: none;
}
.contentinfocontact{
	position: relative;
	width: 95%;
	box-shadow: 0px 0 5px #828282;
	font-size: 14px;}
.contact_map{
    margin-top: 100px;
	margin-left: -3px;
}
.contentinfocontact::before{
	display:none;
}
.titleinfocontact{
	padding: 9px 0;
	font-size: 20px;
}
.bank_container {
	width: 100%;
	padding: 14px;
	margin-top: 48px;
}
.con_hed{
	width: 71%;
	font-size: 17px;
	margin-top: -35px;
	margin-bottom: 20px;
}
.contact section{
	margin-left: 0px;
	width: 100%;
	margin-bottom: 15px;
}
.contact section aside{
	border: 1px solid #fccf32;
	width: 100%;
}
.bankhd{
	display:block;
	color: #bd0202;
	font-size: 28px;
	font-family: "opn_cond";
}
.contact section figure{
	display:none;
}
.contact section aside p{
	font-size: 14px;
	line-height: 24px;
	padding: 9px 8px 0px 14px;
}

.hed_tit1{
	font-size: 34px;}
.tm_condition p{
	font-size: 13px;}
.other_txt {
	font-size: 19px;}
.match_txt {
	font-size: 18px !important;
	padding: 6px;
	width: 93%;
	margin-left: 0px;
	}
.table_wrap {
    overflow: auto;
    padding-bottom: 0px;
}
.dev_head {
    font-size: 20px;
    width: 62%;
    margin-top: -38px;
}
.dev_idbox{
	width: 82%;
	margin: 27px 20px 0px 23px;
	}
.tm_condition1 p{
	font-size: 14px;
	padding-right: 11px;}
.hed_tit{
	font-size: 24px;
}
.binary {
    font-size: 28px !important;
	margin-bottom: -2px;
}
.awrd_txt {
    font-size: 30px !important;
	text-align: left;
	margin: 10px 0 0 0 !important;
}
.awrd_line{
	display:none;}
#awrd ul li{
	float:left;
	margin: 7px 0px 7px -41px;}
.awrd_last {
    margin: 0px 0px 15px -40px !important;
}
#awrd1 ul li{
	margin: 0px 0px 10px 0px;}
.awrd1{
	font-size: 26px;
	line-height: 24px;
}
.awrd1 span{
	font-size: 18px;
}
.login {
  padding: 0px;
  margin-top: 150px;
  margin-bottom: 20px;
}
.legal_ul li{
	width: auto;
	margin-bottom:0px;
}
.legal_ul{
	margin-left: -8px !important;	
	padding-left: 15px;
}
.leg_div{
	margin-top: 103px;
}
.legal_ul li:nth-child(1){
	margin-top: 0px;	
}}

@media screen and (min-width : 360px){
.dev_idbox{
	width: 71%;
}
.login {
  padding: 0px;
  margin-top: 166px;
  margin-bottom: 20px;
}

}

@media screen and (min-width : 480px){
#main-slide .slider-content{
	margin-left: 26px;
	margin-top: -36px;
}
#core{
	padding: 20px 0 30px;
}
.navbar-collapse.in {
	overflow-y:auto;
}
.product section ul li{
	width: 97%;
}
.product section ul li p{
	padding-top: 13px;
	padding-left: 12px;
	height: 44px;
	}
.product section ul li span{
	font-size: 14px;
	margin-left: 4px;}
.awrd_txt {
	font-size: 34px !important;
	text-align: center;
}
#awrd ul li{
	float:left;
	margin: 7px 0px 19px -34px;}
.awrd_last {
    margin: 0px 0px 15px 0px !important;
}
.dev_idbox{
	width: 49.2%;
	margin: 27px 5px 0px -2px;
	}
.dev_head {
    font-size: 22px;
    width: 37%;
}
.login {
  padding: 0px;
  margin-top: 200px;
  margin-bottom: 30px;
}
}

@media screen and (min-width : 640px){
.navbar-brand img {
    height: 90px;
    width: 170px;
}
.banner{
	margin-top: 94px;}
.section{
	margin:0px 0px 2px 0px;
	width: 50%;
	text-align: center;
	padding-right: 7px;
	padding-left: 7px;
	}
.footer-bottom-menu li a{
	font-size: 14px;
}
.copyright-info{
	margin-top: 16px;
	font-size: 14px;
	float: none;
	text-align:center;
}
.inner-ban {
	top: 95px;
}
.banner_title {
    padding: 7px 14px;
	font-size: 22px;
}
.abt_container {
	width: 100%;
	padding: 0;
	margin-top: 113px;
}
.about_info{
	font-size: 14px;
	line-height: 23px;
}
.about_info h2{
	font-size: 24px;
	margin-top: 13px !important;
	margin-bottom: -6px;
}
.pro_container {
	width: 100%;
	padding: 0;
	margin-top: 113px;
}
.product section ul li{
	width: 87%;
	margin-right: 26px;
	margin-bottom: 15px;
	margin-left: 26px;
	margin-top: 10px;
}
.product section ul li p{
	padding-top: 9px;
	font-size: 17px;
	}
.product section ul li span{
	font-size: 19px;
	margin-left: 8px;}
.contact_map{
    margin-top: 151px;
	margin-left: 0px;
}
.cont_img_res{
	display: block;;
}
.contentinfocontact{
	position: absolute;
	width: 43%;
	top: -12%;
	left: 56.5%;
}
.bank_container {
	margin-top: 67px;
}
.con_hed{
	width: 34%;
	font-size: 18px;
}
.bankhd{
	display: none;
}
.contact section figure{
	display: block;
}
.contact section aside{
	border-top:1px solid #fccf32;
	border-right:1px solid #fccf32;
	border-bottom:1px solid #fccf32;
	border-left: 0px;
	width: 70%;
}
.contact section aside p{
	font-size: 16px;
	line-height: 33px;
	padding: 8px 8px 0px 20px;
}
.inr_container {
	width: 100%;
	padding: 14px;
	margin-top: 116px;
}
.hed_tit1{
	font-size: 36px;}
.tm_condition p{
	font-size: 16px;}
.match_txt {
	font-size: 20px !important;
	padding: 8px;
	width: 43%;
	margin-left: 0px;
	}
.other_txt {
	font-size: 22px;}
.hed_tit{
	font-size: 28px;
}
.dev_head {
    font-size: 24px;
    width: 31%;
	margin-top: -43px;
}
.dev_idbox{
	width: 35%;
	margin: 27px 0px 0px 55px;
	}
.binary {
    font-size: 33px !important;
	margin-bottom: 0px;
}
.awrd_txt {
	font-size: 34px !important;
	text-align: left;
}
.login {
  padding: 0px;
  margin-top: 260px;
  margin-bottom: 30px;
}
.leg_div{
	margin-top: 120px;
}
.legal_ul{
	margin-left: 10px !important;	
	padding-left: 15px;
}
.legal_ul li{
	width: 99%;
	margin-bottom:0px;
}}

@media screen and (min-width : 768px){
a.navbar-brand{
	background: #fff;
	padding: 4px 5px;
	border-bottom: 1px #ff5b01 solid;
	border-left: 1px #ff5b01 solid;
	border-right: 1px #ff5b01 solid;
	box-shadow: 0px 3px 3px rgba(113,68,43,.2);
}
.navbar-brand img {
    height: 80px;
    width: 156px;
}
.navbar-nav>li>a{
	padding: 16px 11px;
	font-size: 11px;
}
.navbar-fixed-top{
	background-color: transparent !important;}

ul.navbar-nav li.search{
	margin-left: 1px;
}
ul.navbar-nav li.search1{
	margin-left: 1px;
	border-top: 0px;
}
.banner{
	margin-top: 0px;
}
#main-slide .item img{
	width: 100%;
	height: 100%;
}
#main-slide .slider-content h2{
	font-size: 34px;
	text-transform: uppercase;
}
#main-slide .slider-content h3{
	display:block;
	font-size: 12px;
	margin-top: 0px;
	line-height: 18px;
	width: 37%;
}
#main-slide .carousel-control i{
	font-size: 36px;
	padding: 4px 10px;
}
#main-slide .slider-content{
	margin-left: 38px;
	margin-top: -52px;

}
.met_core_skills {
    padding: 0 50px;
}
#welcome{
	padding: 30px 0;}

.wel_head {
    font-size: 32px;
	padding-bottom: 13px;
	margin-bottom: 26px;
}
#welcome img{
	margin-left: 60px;}
#services{
	padding: 40px 0 20px;}
.section{
	margin:0px 0px 2px 0px;
	width: 50%;
	text-align: center;
	padding-right: 15px;
	padding-left: 15px;
	}
.sec_img{
	display: block;
	width: 33%;
	float: left;
	padding-left: 15px;
	}
.other_dash_line{
	display:block;
	border-bottom: #999 1px dashed;
	height: 111px;
	}
#other_logo{
	padding: 30px 0 0 0;
	background-color:#f9f9f9;}
.inner-ban {
	top: 0px;
}
.abt_container {
	width: 100%;
	padding: 0;
	margin-top: 31px;
}
.about_info{
    width: 97%;
	padding: 0px 0px 10px 21px;
}
.about_info h2{
	font-size: 24px;
	margin-top: 20px !important;
	margin-bottom: 0px;
}
.pro_container {
	width: 100%;
	padding: 0;
	margin-top: 31px;
}
.product section ul li{
	width: 47%;
	margin-right: 10px;
	margin-bottom: 15px;
	margin-left: 6px;
	margin-top: 10px;
}
.product section ul li p{
	padding-top: 7px;
	font-size: 15px;
	padding-left: 10px;
	height: 56px;}
.product section ul li span{
	font-size: 15px;
	margin-left: 8px;}
.contact_map{
    margin-top: 30px;
	margin-left: 0px;
}
.contentinfocontact{
	position: absolute;
	width: 43%;
	top: -1%;
	left: 56.5%;
	font-size: 15px;
}
.bank_container {
	margin-top: 48px;
}
.inr_container {
	width: 100%;
	padding: 14px;
	margin-top: 23px;
}
.dev_head {
    font-size: 24px;
    width: 26%;
	margin-top: -43px;
}
.dev_idbox{
	width: 29.2%;
	margin: 27px 0px 0px 20px;
	}
.login {
  padding: 0px;
  margin-top: 186px;
  margin-bottom: 30px;
}
.leg_div{
	margin-top: 30px;
}
.legal_ul li:nth-child(2n){
	float: none;	
}
.legal_ul li{
	width: 84%;
	margin-bottom:0px;
}}

@media screen and (min-width : 1024px){
.navbar-brand img {
    height: 98px;
    width: 200px;
}
a.navbar-brand{
	background: #fff;
	padding: 4px 8px;
	border-bottom: 1px #ff5b01 solid;
	border-left: 1px #ff5b01 solid;
	border-right: 1px #ff5b01 solid;
	box-shadow: 0px 3px 3px rgba(113,68,43,.2);
}
.navbar-nav>li>a{
	padding: 16px 14px;
	font-size: 13px;
}
.carousel-indicators{
	display:none;}
#main-slide .slider-content h2{
	font-size: 40px;
	text-transform: uppercase;
}
#main-slide .slider-content h3{
	display:block;
	font-size: 14px;
	margin-top: 0px;
	line-height: 22px;
	width: 37%;
}
#main-slide .carousel-control i{
	font-size: 36px;
	padding: 4px 10px;
}
#main-slide .slider-content{
	margin-left: 38px;
	margin-top: -52px;

}
#welcome{
	padding: 40px 0;}

#welcome img{
	margin-left: 0px;}
.section{
	margin:0px 0px 20px 0px;
	width: 50%;
	text-align: center;
	padding-right: 15px;
	padding-left: 15px;
	}
.sec_img{
	display: block;
	width: 33%;
	float: left;
	padding-left: 15px;
	text-align:center;
	}
.footer-bottom-menu{
	text-align: left;
}
.footer-bottom-menu li{
	margin-right: 15px;
}
.copyright-info{
	margin-top: 27px;
	font-size: 14px;
	float: none;
	text-align: right;
}
.product section ul li{
	margin-right: 15px;
	margin-left: 9px;}
.product section ul li p{
	padding-top: 11px;
	height: 44px;
}
.product section ul li span{
	font-size: 14px;}
.bankhd{
	display:block;
	color: #bd0202;
	font-size: 28px;
	font-family: "opn_cond";
}
.contact section figure{
	display:none;
}
.contact section{
	margin-left: 12px;
	width: 48%;
	margin-bottom: 15px;
}
.contact section aside{
	border:1px solid #fccf32;
	width: 96%;
}
.contact section aside p{
	font-size: 17px;
	line-height: 30px;
	padding: 8px 8px 0px 34px;
}
.contentinfocontact{
	position: absolute;
	width: 30%;
	top: 20%;
	left: 0.5%;
	font-size: 15px;
}
.contentinfocontact::before{
	display: block;
}
.dev_head {
    width: 19%;
}
.dev_idbox{
	width: 22%;
	}
#awrd ul li{
	float:left;
	margin: 7px 0px 19px 19px;}
.awrd_txt {
	font-size: 34px !important;
	text-align: center;
}
.login {
  padding: 0px;
  margin-top: 250px;
  margin-bottom: 30px;
}
.legal_ul li{
	width: 64%;
	margin-bottom:0px;
}
.col-xs-6 {
	width:50%;}
}

@media screen and (min-width : 1200px){
.navbar-brand {
	float:left;
}
.navbar-brand img {
    height: 100%;
    width: 100%;
}
a.navbar-brand{
	background: #fff;
	padding: 4px 14px;
	border-bottom: 2px #ff5b01 solid;
	border-left: 1px #ff5b01 solid;
	border-right: 1px #ff5b01 solid;
	box-shadow: 0px 3px 3px rgba(113,68,43,.2);
}

.navbar-nav>li>a{
	padding: 21px 15px;
	font-size: 15px;
	font-family: "bodytxt";
}
ul.navbar-nav li.search{
	margin-left: 10px;
}
ul.navbar-nav li.search1{
	margin-left: 1px;
	border-top: 0px;
}
.body-inner{
	background-color: #ebebeb;
}
.banner{
	margin-top: 0px;}
#main-slide .item img{
	width: 100%;
	/*height: 644px;*/
}
#main-slide .slider-content{
	margin-left: 208px;
	margin-top: -85px;
}
#main-slide .slider-content h2{
	font-size: 60px;
	text-transform: uppercase;
}
#main-slide .slider-content h3{
	display:block;
	font-size: 16px;
	margin-top: 26px;
	line-height: 26px;
	width: 30%;
}

#main-slide .carousel-control i{
	font-size: 32px;
	padding: 15px 20px;
}
#newsletter{
	display: block;}
#core{
	padding: 0 0 40px;
}
.met_core_skills {
    padding: 0 135px;
}
#welcome{
	padding: 50px 0;}
#welcome img{
	margin-left: 0px;}
.wel_head {
    font-size: 32px;
	padding-bottom: 26px;
	margin-bottom: 26px;
}
.wel_txt{
	line-height: 30px;
	font-size: 16px;}
#services{
	padding: 50px 0 30px;}
.section{
	margin:0px 30px 5px 0px;
	width: 23%;
	text-align: left;
	padding-right: 0px;
	padding-left: 0px;
	}
.sec_img{
	display: block;
	width: 33%;
	float: left;
	padding-left: 100px;
	}
.other_dash_line{
	display:block;
	border-bottom: #999 1px dashed;
	height: 111px;
	}
#other_logo{
	padding: 30px 0 0 0;
	background-color:#f9f9f9;}
.footer-bottom-menu{
	text-align: left;
}
.footer-bottom-menu li{
	margin-right: 20px;
}
.footer-bottom-menu li a{
	font-size: 14px;
}
.copyright-info{
	margin-top: 24px;
	font-size: 15px;
	float: right;
}
/*-------------other_page---------------*/	
.inner-ban {
	top: 0px;
}
.banner_title {
    padding: 7px 30px;
	font-size: 30px;
    text-transform: capitalize;
    border-left: 5px solid #ea4800;
    border-right: 5px solid #ea4800;
}
.abt_container {
	width: 1140px;
	padding: 20px 0px 20px 20px;
	margin-top: 50px;
}
.about_info{
    width: 53%;
	font-size: 15px;
	line-height: 23px;
}
.about_info h2{
	font-size: 26px;
	margin-top: 20px !important;
	margin-bottom: 10px;
}
.about {
    background-image: url(../images/about_img.jpg);
}
.pro_container {
	width: 1140px;
	padding: 20px 15px;
	margin-top: 50px;
}
.product section ul li{
	width: 530px;
	margin-right: 32px;
	margin-bottom: 30px;
	margin-left: 0px;
	margin-top: 0px;
}
.product section ul li p{
	width: 98%;
	padding-top: 10px;
	font-size: 17px;
	padding-left: 10px;
	padding-right: 7px;
	height: 44px;
	}
.product section ul li span{
	font-size: 18px;
	margin-left: 5px;}
.inr_container {
	width: 1140px;
	padding: 20px;
	margin-top: 29px;
}
.cont_img_res{
	display: block;
}
.markercontactmap{
	display: block;
}
.contentinfocontact{
	position: absolute;
	width: 300px;
	box-shadow: 0px 0 10px #828282;
	font-size: 16px;
	top: 2%;
	left:3.5%;
}
.contact_map{
    margin-top: 50px;
	margin-left: 0px;
}
.contentinfocontact::before{
	display: block;
}
.titleinfocontact{
	padding: 12px 0;
	font-size: 24px;
}
.bank_container {
	width: 1140px;
	padding: 20px;
	margin-top: 50px;
}
.con_hed{
	width: 19%;
	font-size: 20px;
	margin-top: -40px;
	margin-bottom: 30px;
}
.contact section{
	margin-left: 18px;
	width: auto;
	margin-bottom: 0px;
}
.contact section aside{
	border-top:1px solid #fccf32;
	border-right:1px solid #fccf32;
	border-bottom:1px solid #fccf32;
	border-left: 0px;
	width: auto;
}
.bankhd{
	display: none;
}
.contact section figure{
	display: block;
	padding-left: 0px;
}
.contact section aside p{
	font-size: 16px;
	line-height: 33px;
	padding: 9px 50px 0px 20px;
}
.hed_tit1{
	font-size: 46px;
}
.tm_condition p{
	font-size: 18px;}
.other_txt {
	font-size: 22px;}
.match_txt {
	font-size: 24px !important;
	padding: 10px;
	width: 360px;
	margin-left: 23px;
}
.dev_head {
    font-size: 25px;
    width: 16%;
    margin-top: -48px;
}
.dev_idbox{
	width: 18.1%;
	margin: 27px 20px 0px 0px;
	}
.tm_condition1 p{
	font-size: 18px;}
.hed_tit{
	font-size: 30px;}
.binary {
    font-size: 30px !important;
	margin-bottom: auto;
}
.awrd_txt {
    font-size: 36px !important;
	text-align:center;
	margin: 20px 0px 0px 0px !important;
}
#awrd ul li{
	float:left;
	margin: 0px 61px;}
.awrd_line{
	display: block;
	margin: 0 242px 0 !important;}
.awrd_last {
    margin: 0px 6px 20px 6px !important;
}
#awrd1 ul li{
	margin: 0px 5px 30px 0px;
}
.awrd1{
	font-size: 29px;
	line-height: 30px;
}
.awrd1 span{
	font-size: 20px;
}
.login {
  padding: 50px;
  margin-top: 0px;
}
.leg_div{
	margin-top: 50px;
}
.legal_ul li{
	width:50%;
	margin-bottom:60px;
}
.legal_ul{
	margin-left:0px !important;	
	padding-left: 32px;
}
.legal_ul li:nth-child(1){
	margin-top:20px;	
}
.legal_ul li:nth-child(2n){
	float:right;	
}}
 
@media screen and (min-width: 1650px) and (max-width: 1920px){
	
}




/*-------------------------css for Core Features------------------------*/
@media all and (max-width: 1170px) {
	.met_content {
		width        : 90%;
		margin-left  : 5%;
		margin-right : 5%;
	}
}

@media (max-width: 1024px) {
    .met_core_skills > section > div:after{
		display: none;
    }
	.met_core_skills_line_3 .met_core_skill_5 {
		margin-left: 170px;
	}
	.met_core_skills_line_3 .met_core_skill_6 {
		margin-right: 170px;
	}
}

@media only screen and (max-width: 768px){
	.met_core_skills_line_2 .met_core_skill_3 {
		margin-left: 0;
	}
	.met_core_skills_line_2 .met_core_skill_4 {
		margin-right: 0;
	}
	.met_core_skills_line_3 .met_core_skill_5{
		margin-left: 40px;
	}
	.met_core_skills_line_3 .met_core_skill_6 {
		margin-right: 40px;
	}
}

@media only screen and (max-width: 767px){
	.met_core_skills {
		padding: 0;
	}
}
@media only screen and (max-width: 360px){
	.met_core_skills_line_1 {
		margin-bottom: 10px;
		margin-top: 0;
	}
	.met_core_skills_line_3 .met_core_skill_5,
	.met_core_skills_line_3 .met_core_skill_6{margin: 0}
	.met_core_skills_line_1,
	.met_core_skills_line_2,
	.met_core_skills_line_3,
	.met_core_skills_line_4,
	.met_core_skills_line_5,
	.met_core_skills_line_6{margin: 0;}
	.met_core_skills section div {
		width: 50%;
		margin-bottom: 18px!important;
	}
	.met_core_skills_top{
		margin-bottom: 30px;
	}

}
/*-------------------------css for Core Features------------------------*/
